@font-face {
  font-family: "silkscreennormal";
  src: url("slkscr-webfont.eot");
  src: url("slkscr-webfont.eot?#iefix") format("embedded-opentype"),
    url("slkscr-webfont.woff") format("woff"),
    url("slkscr-webfont.ttf") format("truetype"),
    url("slkscr-webfont.svg#silkscreennormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkscreenbold";
  src: url("slkscrb-webfont.eot");
  src: url("slkscrb-webfont.eot?#iefix") format("embedded-opentype"),
    url("slkscrb-webfont.woff") format("woff"),
    url("slkscrb-webfont.ttf") format("truetype"),
    url("slkscrb-webfont.svg#silkscreenbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
label {
  font-family: "silkscreenbold", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: goldenrod;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#buttons-section {
  margin: 0 auto 20px auto;
}

button {
  font-family: "silkscreennormal", sans-serif;
  font-size: 1em;
  border: 1px solid black;
  background-color: gray;
  color: white;
  padding: 5px;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

button:active {
  background-color: lightgray;
}

.activated {
  background-color: darkgray;
}

.rainbow-gradient-text {
  background-color: white;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 158, 0, 1) 19%,
    rgba(249, 255, 0, 1) 46%,
    rgba(22, 255, 0, 1) 65%,
    rgba(0, 255, 252, 1) 81%,
    rgba(0, 9, 255, 1) 92%,
    rgba(171, 0, 255, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#slidebar-section {
  margin: auto;
}

#drawing-area-section {
  display: flex;
  flex: 1;
}

.drawing-area {
  width: 80vmin;
  height: 80vmin;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  margin-top: 5%;
}

.grid-square {
  background-color: white;
}
